*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
        /* border: red solid 1px; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}

h1 {
    font-size: 3em;
}

button {
    margin: 1em 0;
    width: 200px;
    height: 200px;
    border: solid 10px darkred;
    border-radius: 50%;
    background: red;
    font-size: 2em;
    font-weight: 550;
    cursor: pointer;
}

button:hover {
    background: green;
    border: solid 10px darkgreen;
}
button:active {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h3 {
    font-size: 3em;
}